body {
  font: 14px "Century Gothic", Futura, sans-serif;
  font-weight: bold;
  margin: 20px;
}

ol,
ul {
  padding-left: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(177, 113, 113);

  border: 1px solid #999;

  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(160, 133, 248);
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
}